<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

  <div class="container-fluid">
                    <h1>Department Registration</h1>
                  <div class="card">
                      <form method="post">
                      {% csrf_token %}
                  <div class="container">

                   {{dept|crispy}}
                      <button type="submit"> submit </button>
                  </div>
                </form>
                </div>

{% endblock %}