<!DOCTYPE html>
{% extends 'govbase.html' %}
{% block content %}
{% load crispy_forms_filters %}
<div class="col-lg-8">
    <div class="card">
        <div class="card-header"><strong>certificate issue online</strong></div>
        <div class="card-body card-block">
            <form method="post" enctype="multipart/form-data"">{% csrf_token %}


                <div class="form-group">
                    <label class=" form-control-label">Subject</label>
                    <input  required  class="form-control" readonly value="{{uploads.subject}}">

                </div>
  <div class="form-group">
                    <label class=" form-control-label">Phone number</label>
                    <input  required  class="form-control" readonly value="{{uploads.contact_no}}">

                </div>
  <div class="form-group">
                    <label class=" form-control-label">Email</label>
                    <input  required  class="form-control" readonly value="{{uploads.email}}">

                </div>

                  <div class="form-group">
                    <label class=" form-control-label">document</label>
                    <td><img src="{{ uploads.document.url }}" style="width:200px"/></td>
                </div>
          </div>
 <div class="form-group">
                    <label class=" form-control-label"><h3>download</h3></label>

                 <td> <a href="{{uploads.document.url}}" download> {{uploads.document}}</a></td>
                </div>
          </div>


<!--                <div class="form-group">-->
<!--                    <label for="company" class=" form-control-label">Reply</label>-->
<!--                    <textarea cols="5" rows="7" required id="company" class="form-control" name="reply">-->
<!--                </textarea>-->
<!--                </div>-->

                <div class="form-actions form-group ">
<!--                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>-->
                     <a href="{% url 'subscribe' %}"><h3 style="color:red">Send Email</h3></a>
                </div>
                {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            </form>
        </div>

    </div>
</div>

{% endblock  %}